.Menu {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-right: 25px;
}

.Dashboard {
  list-style: none;
  background: #39A2DB;
  color: white; 
  width: 16vw;
  height: 100vh;
}

.Dashboard ul {
  list-style: none;
}